.u-form-item {
  &::after {
    border: 0 solid #EAEAEA;
    border-bottom-width: 1px;
  }
  .u-form-item--left {
    font-size: 30rpx;
    font-weight: 600;
  }
}

.u-checkbox__icon-wrap--checked {
  border-radius: 6rpx;
}

.u-drawer-content {
  border-radius: 15px 15px 0 0;
}

.uni-tabbar__badge{
  background: #fff !important;
  border: 1px solid #F54400;
  color: #F54400 !important;
  height: 26rpx !important;
  line-height: 26rpx !important;
  min-width: auto !important;
   padding: 0 8rpx !important;
   font-size: 20rpx !important;
}

.uni-tabbar-border{
  background-color: #eaeaea !important;
  height: 3px;
}